html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#startContainer {
  width: 50vw;
  height: 50vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#startContainer input {
  border-radius: 12px;
  width: 20rem;
  height: 2.4rem;
  border: 0.4rem solid black;
}

#startContainer label {
  font-size: 2.4rem;
}

#startContainer button {
  background-color: aqua;
  border-radius: 12px;
  margin-top: 4rem;
  font-size: 4.8rem;
  padding: 1.4rem;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

#result {
  position: absolute;
  height: 100px;
  width: 300px;
  background-color: pink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*counts*/

#header > * {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  background-color: pink;
}

#header * span {
  font-size: 24px;
}

/*imgs*/
#paper,
#rock,
#scissers {
  display: none;
  position: absolute;
  width: 20rem;
  height: 25rem;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  top: 14rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#msg-round {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 24px;
}

#msg-round span {
  margin: 0 10px;
  font-size: 34px;
}

/*Buttons*/
#contentButtons {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 80px;
  gap: 24px;
}

#contentButtons button {
  border-radius: 15px;
  width: 150px;
  height: 150px;
  font-size: 24px;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#fire {
  background-image: url(./fire-svgrepo-com.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 2rem;
}

.burn {
  animation: burn 2s ease-in-out; /* Animación de 2 segundos llamada crecerYVolver */
}

@keyframes burn {
  0% {
    transform: scale(1); /* Escala inicial 1 (tamaño normal) */
  }
  50% {
    transform: scale(2); /* Escala al 120% a la mitad de la animación */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño normal al final */
  }
}
